<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OREL</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="logo"><img src="../img/logo.png" alt="OREL"></div>
    <div class="textu">
        <img src="../img/orelb.png" alt="OREL Браузер">
        <h2>OREL Браузер</h2>
        <p>Версия:&#9;&#9;&#9;&#9;&#9;&#9;&#9;&#9; 1.0</p>
        <div class="texti">OREL Браузер (Образовательный Ресурс для Электронного Лицензионного Обучения и Развлечений) - инновационный браузер для улучшения образовательного процесса и безопасного доступа к ресурсам. Основные преимущества: высокая безопасность, доступ к образовательным материалам, удобный интерфейс, родительский контроль и поддержка различных устройств.</div>
        <button class="btnD" onclick="download('ORELB1.0.apk')">Скачать</button>
    </div>
    <header>
        <nav>
            <ul>
                <li><a href="../../index.html"><img src="../img/домой.svg" alt=""></a></li>
                <li class="v"><a href="../../i.html"><img src="..//img/v.svg" alt=""></a></li>
            </ul>
        </nav>
    </header>
    <script src="../js/main.js"></script>
</body>
</html>